*{
    margin: 0px;
    padding: 0px;
  }
  
  
  .admin__card{
    border:2px solid white ;
     color:white;
     width: 20%;
  }
  .admin__card:hover{
    color: green;
    border: 2px solid green;
    cursor: pointer;
  }
  .note__btn:hover{
    background-color: rgb(53, 53, 88);
    color: white;
    
  }
  .super-choose{
    flex-direction: column;
    height: 92vh;
    width: 15%;
  }
  .note__btn{
    align-items: center;
    display: flex;
  }
  
  @media screen and (max-width: 750px) {
    
    .admin__card{
      margin: auto;
       width: 80%;
    }
    .admin__row{
      flex-direction: column;
      gap: 20px;
    }
    .super-container{
      flex-direction: column;
    }
    .super-choose{
      flex-direction: row;
      height: 10vh;
      justify-content: space-evenly;
      width: 90%;
    }
    
    
  }
  @media screen and (min-width: 650px) {
    .cross{
      display: none;
      
    }
    
  }