
.Adcontainer {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background-image: url('./choosing-bg.jpg') !important;

}

.advertisementBox {
    flex: 1;
    padding: 20px;
    margin: 10px;
    box-sizing: border-box;
    color: azure;
    
}


.subAdFeatures{
    margin: 15px;
   padding-right: 70px;
}

.adFeatures{
    margin-top: 40px;
    margin-left: 20px;
    font-size: large;
}


@media (max-width: 768px) {
    .Adcontainer{
        flex-direction: column;
    }

    .advertisementBox,
    .notificationBox {
      
        flex: 100%;
    }

    .adP{
        font-size: large !important;
    }
   
    
    .advertisementBox{
        margin-left: 20px !important;
    }
    
    .adH{
        font-size:30px !important;
        padding-left: 0px !important;
    }
    .adFeatures{
        /* display: block; */
        /* overflow-y: scroll; */
        padding-left: 0px;
    }
    .subAdFeatures{
        width: 90% !important;
        text-align: center;
        margin-top: 15 !important;
        padding-right: 0px !important;

    }
}