.Ncontainer {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background-image: url('./choosing-bg.jpg') ;
    padding: 50px;
   
}


.notificationBox {
    padding: 20px;
    margin: 10px;
    box-sizing: border-box;
    color: azure;
    border: 2px solid azure;
    width: 100%;
    height: 400px;
}
.nfH{
    margin-bottom: 10px;
}
.subAdFeatures{
    margin: 15px;
}

@media (max-width: 768px) {
    .Ncontainer{
        flex-direction: column;
    }

    .advertisementBox,
    .notificationBox {
      
        flex: 100%;
    }

    .adP{
        font-size: large !important;
    }
    .nfP{
        font-size: large !important;
    }
    .notificationBox{
        margin-left: 15px !important;
        width: 100% !important;
    }
    .advertisementBox{
        margin-left: 20px !important;
    }
    .nfH{
        font-size: 30px !important;
    }
    .adH{
        font-size:30px !important;
    }
    .adFeatures{
        display: block;
        /* overflow-y: scroll; */
    }
    .subAdFeatures{
        width: 100%;
        text-align: center;
        margin-top: 15 !important;
        margin-left: 0 !important;
        padding-left: 0%;
        
    }
    
    .carouselImage{
        width: 100% !important;
        margin-left: 12px !important;
    }
    .Ncontainer{
        padding-left: 20px !important;
    }
}
