*{
  box-sizing: border-box;
}

body{
  margin:0;
  padding: 0;
}

.App {
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}
.banner__img{
  height: 60%;
   width: 55%
}

@media (max-width: 768px) {
  .banner__img{
    /* position: absolute; */
    height: 50%;
     width: 80%
  }
}
